marending.dev, www.marending.dev {
	reverse_proxy marending-dev:3000
}

feedback.marending.dev {
	reverse_proxy feedback-relay:8008
}

rest.quest {
	root * /srv/rest.quest
	file_server

	respond /health 203
}

jour.rest.quest {
	root * /srv/jour
	file_server

	respond /health 203
}

go.rest.quest {
	root * /srv/go
	file_server

	respond /health 203
}

dd.rest.quest {
	root * /srv/dd
	file_server

	respond /health 203
}