marending.dev, www.marending.dev {
	reverse_proxy marending-dev:3000
}

feedback.marending.dev {
	reverse_proxy feedback-relay:8008
}

observatory.marending.dev {
	reverse_proxy observatory:3000
}

mariotto.ch, www.marioto.ch {
	root * /srv/mariotto.ch
	file_server
}

rest.quest {
	root * /srv/rest.quest
	file_server
}

jour.rest.quest {
	root * /srv/jour
	file_server
}

go.rest.quest {
	root * /srv/go
	file_server
}

dd.rest.quest {
	root * /srv/dd
	file_server
}

ledger.rest.quest {
	root * /srv/ledger
	file_server
}

reflective.quest {
	reverse_proxy reflective:3001
}

fieldnotes.land, www.fieldnotes.land {
	root * /srv/fieldnotes.land

	try_files {path} /index.html

	file_server
}

write.fieldnotes.land {
	root * /srv/write.fieldnotes.land

	try_files {path} /index.html

	file_server
}

api.fieldnotes.land {
	reverse_proxy fieldnotes-api:5005
}